{% extends '_layouts/detail-entry.njk' %}

{% set entry = data.entries[1] %}

{% block page_title %}{{ entry.title}}{% endblock %}

{% block description %}Blog entry for {{ entry.date}}, {{ entry.title}}.{% endblock %}

{% block story %}
  <h1>{{ entry.title }} - in the water and on the court</h1>
  <h5>{{ entry.date }}</h5>
  <p>2p% 2-point field goal attempts age block percentage (available since the 1973-74 season in the nba); the formula is 100 * (blk * (tm mp / 5)) / (mp * (opp fga - opp 3pa)). block percentage is an estimate of the percentage of opponent two-point field goal attempts blocked by the player while he was on the floor. defensive player of the year fta league minutes played (available since the 1951-52 season) opponent offensive rebounds (available since the 1973-74 season in the nba) offensive rebound percentage (available since the 1970-71 season in the nba); the formula is 100 * (orb * (tm mp / 5)) / (mp * (tm orb + opp drb)). offensive rebound percentage is an estimate of the percentage of available offensive rebounds a player grabbed while he was on the floor. rookie of the year sixth man of the year strength of schedule; a rating of strength of schedule.</p>
  <img src="img/kraken02.jpg" alt="kraken" class="img-fluid">
  <p class="byline">By Crit McGillicutty<br>
  <span>Island Breeze Tribune</span></p>
{% endblock %}